server:
  context-path: /
  port: 8081

session:
  cookie-context-path: /
  cookie-domain: doctor.com
  redis-host: 127.0.0.1
  redis-port: 8888

dubbo:
  registry: zookeeper://127.0.0.1:2181

logging:
  file: ${user.home}/logs/doctor/open.log
  level.*: INFO
  level.io.terminus: DEBUG


zookeeper:
  host: 127.0.0.1
  port: 2181


oss:
  endpoint: oss-cn-beijing.aliyuncs.com
  appKey: n67jFjUcEjZxPOZf
  appSecret: ZOPL1A33iQB52g60Dgvs3xT2FJqeaf
  bucketName: pigmall
