server:
  context-path: /
  port: 8082

pampas:
  rootPath: ${user.home}/assets/spinda
  devMode: true
  redis:
    host: 127.0.0.1
    port: 6379

session:
  cookie-domain: bbc.com
  redis-host: 127.0.0.1
  redis-port: 6379

dubbo:
  name: doctor-admin
  registry: zookeeper://127.0.0.1:2181

# zookeeper
zookeeper:
  host: 127.0.0.1
  port: 2181

logging:
  file: ${user.home}/logs/doctor/admin.log
  level.*: DEBUG

image:
  base:
    url: http://terminus.oss-cn-hangzhou.aliyuncs.com

oss:
  endpoint: oss-cn-hangzhou.aliyuncs.com
  appKey: Pm1oHDnzVajPfmXg
  appSecret: ryWBUlfHjwJC6aUlctqyVJuKnh00ij
  bucketName: terminus
