server:
  context-path: /
  port: 8082

pampas:
  rootPath: ${user.home}/assets/pidgeotto
  devMode: true

session:
  cookie-domain: doctor.com

dubbo:
  name: doctor-admin
  registry: zookeeper://127.0.0.1:2181

logging:
  file: ${user.home}/logs/doctor/admin.log
  level.*: DEBUG

image:
  base:
    url: http://img.xrnm.com

oss:
  endpoint: oss-cn-beijing.aliyuncs.com
  appKey: n67jFjUcEjZxPOZf
  appSecret: ZOPL1A33iQB52g60Dgvs3xT2FJqeaf
  bucketName: pigmall
