server:
  port: 8081

pampas:
  rootPath: ${user.home}/assets
  devMode: true

session:
  cookie-domain: doctor.com

logging:
  file: ${user.home}/logs/doctor/web.log
  level.*: INFO

image:
  base:
    url: http://img.xrnm.com

oss:
  endpoint: oss-cn-beijing.aliyuncs.com
  appKey: n67jFjUcEjZxPOZf
  appSecret: ZOPL1A33iQB52g60Dgvs3xT2FJqeaf
  bucketName: pigmall

parana:
  config:
    mode: server

pay:
  debug: false
