datasource:
  url: jdbc:mysql://127.0.0.1:3306/pig_doctor?useUnicode=true&characterEncoding=UTF8
  username: root
  password: anywhere

# Dubbo
rpc.dubbo:
    registryAddress: 127.0.0.1:2181
    check: false   # 默认是true, 检查provider

redis:
  host: 127.0.0.1
  port: 8888

logging:
  file: ${user.home}/logs/doctor/workflow.log
  level.*: DEBUG

# zookeeper
zookeeper:
  host: 127.0.0.1
  port: 2181
