logging:
  file: ${user.home}/logs/doctor/standalone-web.log
  level.*: INFO
  level.io.terminus: DEBUG

server:
  context-path: /
  port: 8081

pampas:
  rootPath: ${user.home}/assets
  apps:
    - key: MOBILE
      assetsHome: pidgey
  mvc:
    ignoreInterceptors:
      - Login
      - Auth
    customInterceptors:
      - loginInterceptor
      - authInterceptor
  redis:
    host: 127.0.0.1
    port: 6379
  design:
    enable: true
  locale: zh_CN
  devMode: true

session:
  cookie-domain: doctor.com
  cookie-context-path: /
  cookie-name: msid
  cookie-max-age: 1800
  source: redis
  serialize-type: json
  redis-host: 127.0.0.1
  redis-port: 6379
  redis-index: 1
  redis-cluster: false
  redis-test-on-borrow: true
  redis-max-total: 10
  redis-max-idle: 0
  redis-prefix: afsession

zookeeper:
  host: 127.0.0.1
  port: 2181

image:
  base:
    url: http://pigmall.oss-cn-beijing.aliyuncs.com

oss:
  endpoint: oss-cn-beijing.aliyuncs.com
  appKey: n67jFjUcEjZxPOZf
  appSecret: ZOPL1A33iQB52g60Dgvs3xT2FJqeaf
  bucketName: pigmall

parana:
  config:
    mode: server

mybatis:
  mapperLocations: classpath*:mapper/*Mapper.xml
  typeAliasesPackage: >
    io.terminus.doctor.warehouse.model,
    io.terminus.parana.(user|file|article|user.address).model,io.terminus.doctor.user.model,
    io.terminus.parana.msg.model,
    io.terminus.doctor.event.model,io.terminus.doctor.workflow.model,
    io.terminus.parana.config.model,
    io.terminus.doctor.basic.model

datasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://127.0.0.1:3306/pig_doctor?useUnicode=true&characterEncoding=UTF8&autoReconnect=true
  username: root
  password: anywhere

redis:
  host: 127.0.0.1
  port: 6379
  max-total: 10
  max-idle: 2
  test-on-borrow: true

item:
  search:
    index-name: items
    index-type: item
    mapping-path: item_mapping.json
    full-dump-range: 3
    batch-size: 100

search:
  host: 127.0.0.1
  port: 9200
  pig:
    index-name: pigs
    index-type: pig
    mapping-path: search/pig_mapping.json
    full-dump-range: 3
    batch-size: 100
  group:
    index-name: groups
    index-type: group
    mapping-path: search/group_mapping.json
    full-dump-range: 3
    batch-size: 100
  barn:
    index-name: barns
    index-type: barn
    mapping-path: search/barn_mapping.json
    full-dump-range: 3
    batch-size: 100

flow:
  definition:
    key:
      sow: sow
      boar: boar

msg:
  test.enabled: true  #启用测试MsgWebService的Controller, 用于快速测试网关配置是否有问题
    #http://www.galaxy.com/api/msg/sendSms?toes=18667045530&template=user.register.code&code=123456
    #http://www.galaxy.com/api/msg/sendNotice?toes=1&template=user.register.code&code=123456
    #http://www.galaxy.com/api/msg/sendEmail?toes=a@terminus.io&template=user.register.code&code=123456
    #http://www.galaxy.com/api/msg/sendAppMessage?toes=[1]&template=user.register.code&code=123456

  gateway.version: simple #MsgGatewayBuilder的版本, 指定网关配置信息的来源, 可为simple和db, 最好采用simple版本.

  gateway.sms: #包含的短信网关实现bean
    luoSiMaoSmsService:
  gateway.email: #包含的邮件网关实现bean
    commonEmailService:
  gateway.apppush: #包含的app消息推送实现bean
    umengAppPushServiceIos:
    umengAppPushServiceAndroid:

  current: #配置当前的网关,用于在多个网关中选择一个实现
      smsService: luoSiMaoSmsService #当前的短信网关服务, 现有的实现为阿里大鱼
      emailService: commonEmailService #当前的邮件网关服务
      appPushService: umengAppPushService #当前的app消息推送网关服务

  webservice.version: db
     #指定是否使用Message, MessageTemplate等数据库表, db时使用, simple时不使用
     #当simple时: 在resources的template/title和template/content目录下配置消息模板, 消息发送和错误时只打日志
     #当db时, 在parana_message_templates中配置消息模板, 消息发送和错误时会记录在parana_messages表中.
  webservice.channel: #WEB层开启的消息服务, 在Controller中可以用@Qualifier("smsWebService")方式指明注入的MsgWebService
    sms: #开启WEB层短信服务 SmsWebService, 使用时@Qualifier("smsWebService")
    email: #开启WEB层邮件服务 EmailWebService, 使用时@Qualifier("emailWebService")
    notify: #开启WEB层站内信服务 NotifyWebService, 使用时@Qualifier("notifyWebService")
    apppush: #开启WEB层APP消息推送服务 AppPushWebService, 使用时@Qualifier("appPushWebService")


  #当gateway.version=db时, 在数据库中配置以下信息
  luosimao:
      sendUrl: http://sms-api.luosimao.com/v1/http_get/send/json
      statusUrl: http://sms-api.luosimao.com/v1/http_get/status/json
      apiKey: 35dec4a658e7a3fe96af38a62540cacc
      companyName: 【新融农牧】
  email:
    host: smtp.mxhichina.com
    port: 25
    account: no-reply@xrnm.com
    password: 123456Pigmall
    protocol: 2
  umeng: #友盟APP消息推送网关配置
    android: #Android应用配置
      appKey: xxxx
      appSecret: xxxx
    ios: #IOS应用配置
      appKey: xxxx
      appSecret: xxxx
