<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ~ Desc:
 ~ Mail: [ your email ]
 ~ Date: 2018-04-21 12:22:21
 ~ Created by [ your name ]
-->

<mapper namespace="DoctorWarehouseMaterialApply">
    <resultMap id="DoctorWarehouseMaterialApplyMap" type="DoctorWarehouseMaterialApply">
        <id property="id" column="id"/>
        <result property="materialHandleId" column="material_handle_id"/>
        <result property="orgId" column="org_id"/>
        <result property="farmId" column="farm_id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="warehouseType" column="warehouse_type"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="pigBarnId" column="pig_barn_id"/>
        <result property="pigBarnName" column="pig_barn_name"/>
        <result property="pigType" column="pig_type"/>
        <result property="pigGroupId" column="pig_group_id"/>
        <result property="pigGroupName" column="pig_group_name"/>
        <result property="materialId" column="material_id"/>
        <result property="applyDate" column="apply_date"/>
        <result property="applyStaffId" column="apply_staff_id"/>
        <result property="applyStaffName" column="apply_staff_name"/>
        <result property="applyYear" column="apply_year"/>
        <result property="applyMonth" column="apply_month"/>
        <result property="materialName" column="material_name"/>
        <result property="type" column="type"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="applyType" column="apply_type"/>
        <result property="amount" column="amount"/>
        <result property="settlementDate" column="settlementDate"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tb">
        doctor_warehouse_material_apply
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        `material_handle_id`, `org_id`, `farm_id`, `warehouse_id`, `warehouse_type`, `warehouse_name`, `pig_barn_id`, `pig_barn_name`, `pig_type`, `pig_group_id`, `pig_group_name`, `material_id`, `apply_date`, `apply_staff_id`, `apply_staff_name`, `apply_year`, `apply_month`, `material_name`, `type`, `unit`, `quantity`, `unit_price`, `apply_type`, `amount`, `settlementDate`, 
        created_at, updated_at
    </sql>

    <sql id="vals">
        #{materialHandleId}, #{orgId}, #{farmId}, #{warehouseId}, #{warehouseType}, #{warehouseName}, #{pigBarnId}, #{pigBarnName}, #{pigType}, #{pigGroupId}, #{pigGroupName}, #{materialId}, #{applyDate}, #{applyStaffId}, #{applyStaffName}, #{applyYear}, #{applyMonth}, #{materialName}, #{type}, #{unit}, #{quantity}, #{unitPrice}, #{applyType}, #{amount}, #{settlementDate}, 
        now(), now()
    </sql>

    <sql id="criteria">
        <where>
            <if test="materialHandleId != null">AND `material_handle_id` = #{materialHandleId}</if>
            <if test="orgId != null">AND `org_id` = #{orgId}</if>
            <if test="farmId != null">AND `farm_id` = #{farmId}</if>
            <if test="warehouseId != null">AND `warehouse_id` = #{warehouseId}</if>
            <if test="warehouseType != null">AND `warehouse_type` = #{warehouseType}</if>
            <if test="warehouseName != null">AND `warehouse_name` = #{warehouseName}</if>
            <if test="pigBarnId != null">AND `pig_barn_id` = #{pigBarnId}</if>
            <if test="pigBarnName != null">AND `pig_barn_name` = #{pigBarnName}</if>
            <if test="pigType != null">AND `pig_type` = #{pigType}</if>
            <if test="pigGroupId != null">AND `pig_group_id` = #{pigGroupId}</if>
            <if test="pigGroupName != null">AND `pig_group_name` = #{pigGroupName}</if>
            <if test="materialId != null">AND `material_id` = #{materialId}</if>
            <if test="applyDate != null">AND `apply_date` = #{applyDate}</if>
            <if test="applyStaffId != null">AND `apply_staff_id` = #{applyStaffId}</if>
            <if test="applyStaffName != null">AND `apply_staff_name` = #{applyStaffName}</if>
            <if test="applyYear != null">AND `apply_year` = #{applyYear}</if>
            <if test="applyMonth != null">AND `apply_month` = #{applyMonth}</if>
            <if test="materialName != null">AND `material_name` = #{materialName}</if>
            <if test="type != null">AND `type` = #{type}</if>
            <if test="unit != null">AND `unit` = #{unit}</if>
            <if test="quantity != null">AND `quantity` = #{quantity}</if>
            <if test="unitPrice != null">AND `unit_price` = #{unitPrice}</if>
            <if test="applyType != null">AND `apply_type` = #{applyType}</if>
            <if test="amount != null">AND `amount` = #{amount}</if>
            <if test="settlementDate != null">AND `settlementDate` = #{settlementDate}</if>
            <if test="createdAt != null">AND <![CDATA[created_at >= #{createdAt}]]> </if>
            <if test="updatedAt != null">AND <![CDATA[updated_at < #{updatedAt}]]> </if>
        </where>
    </sql>
    
    <sql id="advCriteria">
        <where>
            <if test="materialHandleId != null">AND `material_handle_id` = #{materialHandleId}</if>
            <if test="orgId != null">AND `org_id` = #{orgId}</if>
            <if test="farmId != null">AND `farm_id` = #{farmId}</if>
            <if test="warehouseId != null">AND `warehouse_id` = #{warehouseId}</if>
            <if test="warehouseType != null">AND `warehouse_type` = #{warehouseType}</if>
            <if test="warehouseName != null">AND `warehouse_name` = #{warehouseName}</if>
            <if test="pigBarnId != null">AND `pig_barn_id` = #{pigBarnId}</if>
            <if test="pigBarnName != null">AND `pig_barn_name` = #{pigBarnName}</if>
            <if test="pigType != null">AND `pig_type` = #{pigType}</if>
            <if test="pigGroupId != null">AND `pig_group_id` = #{pigGroupId}</if>
            <if test="pigGroupName != null">AND `pig_group_name` = #{pigGroupName}</if>
            <if test="materialId != null">AND `material_id` = #{materialId}</if>
            <if test="applyDate != null">AND `apply_date` = #{applyDate}</if>
            <if test="applyStaffId != null">AND `apply_staff_id` = #{applyStaffId}</if>
            <if test="applyStaffName != null">AND `apply_staff_name` = #{applyStaffName}</if>
            <if test="applyYear != null">AND `apply_year` = #{applyYear}</if>
            <if test="applyMonth != null">AND `apply_month` = #{applyMonth}</if>
            <if test="materialName != null">AND `material_name` = #{materialName}</if>
            <if test="type != null">AND `type` = #{type}</if>
            <if test="unit != null">AND `unit` = #{unit}</if>
            <if test="quantity != null">AND `quantity` = #{quantity}</if>
            <if test="unitPrice != null">AND `unit_price` = #{unitPrice}</if>
            <if test="applyType != null">AND `apply_type` = #{applyType}</if>
            <if test="amount != null">AND `amount` = #{amount}</if>
            <if test="settlementDate != null">AND `settlementDate` = #{settlementDate}</if>
            <if test="createdAt != null">AND <![CDATA[created_at >= #{createdAt}]]> </if>
            <if test="updatedAt != null">AND <![CDATA[updated_at < #{updatedAt}]]> </if>

            <if test="materialNameLike != null">AND `material_name` like CONCAT('%',#{materialNameLike},'%')</if>
            <if test="skuIds != null and skuIds.size() > 0">
                AND
                <foreach collection="skuIds" item="t" open="(" separator="or" close=")">
                    material_id =#{t}
                </foreach>
            </if>
            <if test="pigGroupIds != null and pigGroupIds.size() > 0">
                AND
                <foreach collection="pigGroupIds" item="t" open="(" separator="or" close=")">
                    pig_group_id =#{t}
                </foreach>
            </if>
            <if test="startDate !=null">
                AND <![CDATA[apply_date >= #{startDate}]]>
            </if>
            <if test="endDate !=null">
                AND  <![CDATA[apply_date <= #{endDate}]]>
            </if>
        </where>
    </sql>

    <insert id="create" parameterType="DoctorWarehouseMaterialApply" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="long" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="findByIds" parameterType="list" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update" parameterType="DoctorWarehouseMaterialApply">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="materialHandleId != null">`material_handle_id` = #{materialHandleId},</if>
            <if test="orgId != null">`org_id` = #{orgId},</if>
            <if test="farmId != null">`farm_id` = #{farmId},</if>
            <if test="warehouseId != null">`warehouse_id` = #{warehouseId},</if>
            <if test="warehouseType != null">`warehouse_type` = #{warehouseType},</if>
            <if test="warehouseName != null">`warehouse_name` = #{warehouseName},</if>
            <if test="pigBarnId != null">`pig_barn_id` = #{pigBarnId},</if>
            <if test="pigBarnName != null">`pig_barn_name` = #{pigBarnName},</if>
            <if test="pigType != null">`pig_type` = #{pigType},</if>
            <if test="pigGroupId != null">`pig_group_id` = #{pigGroupId},</if>
            <if test="pigGroupName != null">`pig_group_name` = #{pigGroupName},</if>
            <if test="materialId != null">`material_id` = #{materialId},</if>
            <if test="applyDate != null">`apply_date` = #{applyDate},</if>
            <if test="applyStaffId != null">`apply_staff_id` = #{applyStaffId},</if>
            <if test="applyStaffName != null">`apply_staff_name` = #{applyStaffName},</if>
            <if test="applyYear != null">`apply_year` = #{applyYear},</if>
            <if test="applyMonth != null">`apply_month` = #{applyMonth},</if>
            <if test="materialName != null">`material_name` = #{materialName},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="unit != null">`unit` = #{unit},</if>
            <if test="quantity != null">`quantity` = #{quantity},</if>
            <if test="unitPrice != null">`unit_price` = #{unitPrice},</if>
            <if test="applyType != null">`apply_type` = #{applyType},</if>
            <if test="amount != null">`amount` = #{amount},</if>
            <if test="settlementDate != null">`settlementDate` = #{settlementDate},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>
    
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <select id="paging" parameterType="map" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="list" parameterType="map" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
    </select>

    <select id="listAndOrderByHandleDate" parameterType="map" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `apply_date` DESC
        <if test="limit != null">limit #{limit}</if>
    </select>

    <select id="advList" parameterType="map" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <include refid="advCriteria"/>
        ORDER BY `id` DESC
    </select>

    <select id="sumGroupFeedApply" parameterType="map" resultType="double">
        SELECT ifnull(sum(quantity),0)
        FROM
        <include refid="tb"/>
        WHERE
        pig_group_id = #{groupId}
        <if test="startAt != null">AND apply_date &gt;= #{startAt}</if>
        <if test="endAt != null">AND apply_date &lt;= #{endAt}</if>
    </select>

    <delete id="deleteByMaterialHandle" parameterType="long">
        DELETE FROM
        <include refid="tb"/>
        WHERE material_handle_id = #{materialHandleId}
    </delete>

    <select id="findByMaterialHandle" parameterType="long" resultMap="DoctorWarehouseMaterialApplyMap">
        SELECT *
        FROM
        <include refid="tb"/>
        WHERE material_handle_id= #{materialHandleId}
        ORDER BY id DESC LIMIT 1
    </select>

    <delete id="deleteGroupApply" parameterType="long">
        DELETE FROM
        <include refid="tb"/>
        WHERE
        material_handle_id=#{materialHandleId}
        AND (apply_type=1 or apply_type=2)
    </delete>

    <update id="reverseSettlement" parameterType="map">
        UPDATE
        <include refid="tb"/>
        set unit_price=0,amount=0
        where org_id=#{orgId} and settlement_date=#{settlementDate}
    </update>

    <update id="updateUnitPriceAndAmountByMaterialHandle" parameterType="map">
        UPDATE
        <include refid="tb"/>
        set unit_price=#{unitPrice},amount=#{amount}
        where material_handle_id=#{materialHandleId}
    </update>

</mapper>
