<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. 杭州端点网络科技有限公司.  All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="UpdateFarm">
    <update id="updateFarmName" parameterType="map" >
        UPDATE doctor_farms set `name` = #{name} where id = #{farmId}
    </update>

    <update id="updateBarnFarmName" parameterType="map" >
        UPDATE doctor_barns set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updatePigFarmName" parameterType="map" >
        UPDATE doctor_pigs set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updateGroupFarmName" parameterType="map" >
        UPDATE doctor_groups set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updateWareHouseFarmName" parameterType="map" >
        UPDATE doctor_ware_houses set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updateFeedFormulaFarmName" parameterType="map" >
        UPDATE doctor_feed_formulas set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updatePigDailyFarmName" parameterType="map" >
        UPDATE doctor_pig_dailies set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updateGroupDailyFarmName" parameterType="map" >
        UPDATE doctor_group_dailies set `farm_name` = #{name} where farm_id = #{farmId}
    </update>

    <update id="updateReportBoarFarmName" parameterType="map" >
        UPDATE doctor_report_boars set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportDeliverFarmName" parameterType="map" >
        UPDATE doctor_report_delivers set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportEfficiencyFarmName" parameterType="map" >
        UPDATE doctor_report_efficiencies set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportFattenFarmName" parameterType="map" >
        UPDATE doctor_report_fattens set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportMaterialFarmName" parameterType="map" >
        UPDATE doctor_report_materials set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportMatingFarmName" parameterType="map" >
        UPDATE doctor_report_matings set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportNurseryFarmName" parameterType="map" >
        UPDATE doctor_report_nurseries set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportReseverFarmName" parameterType="map" >
        UPDATE doctor_report_resevers set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

    <update id="updateReportSowFarmName" parameterType="map" >
        UPDATE doctor_report_sows set `orz_name` = #{name} where orz_id = #{farmId} and orz_type = 3
    </update>

</mapper>