<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ~ Desc:
 ~ Mail: [ your email ]
 ~ Date: 2018-01-11 14:25:01
 ~ Created by [ your name ]
-->

<mapper namespace="DoctorReportReserve">
    <resultMap id="DoctorReportReserveMap" type="DoctorReportReserve">
        <id property="id" column="id"/>
        <result property="sumAt" column="sum_at"/>
        <result property="sumAtName" column="sum_at_name"/>
        <result property="dateType" column="date_type"/>
        <result property="orzId" column="orz_id"/>
        <result property="orzName" column="orz_name"/>
        <result property="orzType" column="orz_type"/>
        <result property="start" column="start"/>
        <result property="turnInto" column="turn_into"/>
        <result property="turnSeed" column="turn_seed"/>
        <result property="dead" column="dead"/>
        <result property="weedOut" column="weed_out"/>
        <result property="deadWeedOutRate" column="dead_weed_out_rate"/>
        <result property="toFatten" column="to_fatten"/>
        <result property="sale" column="sale"/>
        <result property="chgFarmOut" column="chg_farm_out"/>
        <result property="otherChange" column="other_change"/>
        <result property="dailyLivestockOnHand" column="daily_livestock_on_hand"/>
        <result property="end" column="end"/>
    </resultMap>

    <sql id="tb">
        doctor_report_resevers
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        `sum_at`, `sum_at_name`, `date_type`, `orz_id`, `orz_name`, `orz_type`, `start`, `turn_into`, `turn_seed`, `dead`, `weed_out`, `dead_weed_out_rate`, `to_fatten`, `sale`, `chg_farm_out`, `other_change`, `daily_livestock_on_hand`, `end`
    </sql>

    <sql id="vals">
        #{sumAt}, #{sumAtName}, #{dateType}, #{orzId}, #{orzName}, #{orzType}, #{start}, #{turnInto}, #{turnSeed}, #{dead}, #{weedOut}, #{deadWeedOutRate}, #{toFatten}, #{sale}, #{chgFarmOut}, #{otherChange}, #{dailyLivestockOnHand}, #{end}
    </sql>

    <sql id="criteria">
        <where>
            <if test="sumAt != null">AND `sum_at` = #{sumAt}</if>
            <if test="sumAtName != null">AND `sum_at_name` = #{sumAtName}</if>
            <if test="dateType != null">AND `date_type` = #{dateType}</if>
            <if test="orzId != null">AND `orz_id` = #{orzId}</if>
            <if test="orzName != null">AND `orz_name` = #{orzName}</if>
            <if test="orzType != null">AND `orz_type` = #{orzType}</if>
            <if test="start != null">AND `start` = #{start}</if>
            <if test="turnInto != null">AND `turn_into` = #{turnInto}</if>
            <if test="turnSeed != null">AND `turn_seed` = #{turnSeed}</if>
            <if test="dead != null">AND `dead` = #{dead}</if>
            <if test="weedOut != null">AND `weed_out` = #{weedOut}</if>
            <if test="deadWeedOutRate != null">AND `dead_weed_out_rate` = #{deadWeedOutRate}</if>
            <if test="toFatten != null">AND `to_fatten` = #{toFatten}</if>
            <if test="sale != null">AND `sale` = #{sale}</if>
            <if test="chgFarmOut != null">AND `chg_farm_out` = #{chgFarmOut}</if>
            <if test="otherChange != null">AND `other_change` = #{otherChange}</if>
            <if test="dailyLivestockOnHand != null">AND `daily_livestock_on_hand` = #{dailyLivestockOnHand}</if>
            <if test="end != null">AND `end` = #{end}</if>
        </where>
    </sql>

    <insert id="create" parameterType="DoctorReportReserve" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="long" resultMap="DoctorReportReserveMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="findByIds" parameterType="list" resultMap="DoctorReportReserveMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update" parameterType="DoctorReportReserve">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="sumAt != null">`sum_at` = #{sumAt},</if>
            <if test="sumAtName != null">`sum_at_name` = #{sumAtName},</if>
            <if test="dateType != null">`date_type` = #{dateType},</if>
            <if test="orzId != null">`orz_id` = #{orzId},</if>
            <if test="orzName != null">`orz_name` = #{orzName},</if>
            <if test="orzType != null">`orz_type` = #{orzType},</if>
            <if test="start != null">`start` = #{start},</if>
            <if test="turnInto != null">`turn_into` = #{turnInto},</if>
            <if test="turnSeed != null">`turn_seed` = #{turnSeed},</if>
            <if test="dead != null">`dead` = #{dead},</if>
            <if test="weedOut != null">`weed_out` = #{weedOut},</if>
            <if test="deadWeedOutRate != null">`dead_weed_out_rate` = #{deadWeedOutRate},</if>
            <if test="toFatten != null">`to_fatten` = #{toFatten},</if>
            <if test="sale != null">`sale` = #{sale},</if>
            <if test="chgFarmOut != null">`chg_farm_out` = #{chgFarmOut},</if>
            <if test="otherChange != null">`other_change` = #{otherChange},</if>
            <if test="dailyLivestockOnHand != null">`daily_livestock_on_hand` = #{dailyLivestockOnHand},</if>
            <if test="end != null">`end` = #{end}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>
    
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <select id="paging" parameterType="map" resultMap="DoctorReportReserveMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="list" parameterType="map" resultMap="DoctorReportReserveMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
    </select>

    <delete id="deleteAll">
        DELETE
        FROM <include refid="tb"/>
    </delete>

    <select id="findByDimension" parameterType="map" resultMap="DoctorReportReserveMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <where>
            orz_id = #{orzId}
            AND orz_type = #{orzType}
            AND date_type = #{dateType}
            <if test="dateType == 1">AND date_format(sum_at, '%y-%m-%d') = date_format(#{sumAt}, '%y-%m-%d')</if>
            <if test="dateType == 2">AND date_format(sum_at, '%x-%v') = date_format(#{sumAt}, '%x-%v')</if>
            <if test="dateType == 3">AND date_format(sum_at, '%y-%m') = date_format(#{sumAt}, '%y-%m')</if>
            <if test="dateType == 4">AND concat(date_format(sum_at, '%y-'), QUARTER(sum_at)) =
                concat(date_format(#{sumAt}, '%y-'), QUARTER(#{sumAt}))
            </if>
            <if test="dateType == 5">AND date_format(sum_at, '%y') = date_format(#{sumAt}, '%y')</if>
        </where>
    </select>

    <select id="findBy" parameterType="map" resultMap="DoctorReportReserveMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <where>
            orz_id = #{orzId}
            AND orz_type = #{orzType}
            AND date_type = #{dateType}
            AND sum_at &gt;= date_format(#{startAt}, '%y-%m-%d')
            AND sum_at &lt;= date_format(#{endAt}, '%y-%m-%d')
        </where>
    </select>

    <select id="sumBy" parameterType="map" resultMap="DoctorReportReserveMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <where>
            orz_id = #{orzId}
            AND orz_type = #{orzType}
            AND date_type = #{dateType}
            AND sum_at &gt;= date_format(#{startAt}, '%y-%m-%d')
            AND sum_at &lt;= date_format(#{endAt}, '%y-%m-%d')
        </where>
    </select>
</mapper>
