<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ~ Desc:
 ~ Mail: [ your email ]
 ~ Date: 2018-01-11 16:13:08
 ~ Created by [ your name ]
-->

<mapper namespace="DoctorReportEfficiency">
    <resultMap id="DoctorReportEfficiencyMap" type="DoctorReportEfficiency">
        <id property="id" column="id"/>
        <result property="sumAt" column="sum_at"/>
        <result property="sumAtName" column="sum_at_name"/>
        <result property="dateType" column="date_type"/>
        <result property="orzId" column="orz_id"/>
        <result property="orzName" column="orz_name"/>
        <result property="orzType" column="orz_type"/>
        <result property="npd" column="npd"/>
        <result property="birthPerYear" column="birth_per_year"/>
        <result property="psy" column="psy"/>
        <result property="pregnancy" column="pregnancy"/>
        <result property="lactation" column="lactation"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="tb">
        doctor_report_efficiencies
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        `sum_at`, `sum_at_name`, `date_type`, `orz_id`, `orz_name`, `orz_type`, `npd`, `birth_per_year`, `psy`, `pregnancy`, `lactation`, 
        created_at, updated_at
    </sql>

    <sql id="vals">
        #{sumAt}, #{sumAtName}, #{dateType}, #{orzId}, #{orzName}, #{orzType}, #{npd}, #{birthPerYear}, #{psy}, #{pregnancy}, #{lactation}, 
        now(), now()
    </sql>

    <sql id="criteria">
        <where>
            <if test="sumAt != null">AND `sum_at` = #{sumAt}</if>
            <if test="sumAtName != null">AND `sum_at_name` = #{sumAtName}</if>
            <if test="dateType != null">AND `date_type` = #{dateType}</if>
            <if test="orzId != null">AND `orz_id` = #{orzId}</if>
            <if test="orzName != null">AND `orz_name` = #{orzName}</if>
            <if test="orzType != null">AND `orz_type` = #{orzType}</if>
            <if test="npd != null">AND `npd` = #{npd}</if>
            <if test="birthPerYear != null">AND `birth_per_year` = #{birthPerYear}</if>
            <if test="psy != null">AND `psy` = #{psy}</if>
            <if test="pregnancy != null">AND `pregnancy` = #{pregnancy}</if>
            <if test="lactation != null">AND `lactation` = #{lactation}</if>
            <if test="createdAt != null">AND <![CDATA[created_at >= #{createdAt}]]> </if>
            <if test="updatedAt != null">AND <![CDATA[updated_at < #{updatedAt}]]> </if>
        </where>
    </sql>

    <insert id="create" parameterType="DoctorReportEfficiency" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="findById" parameterType="long" resultMap="DoctorReportEfficiencyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="findByIds" parameterType="list" resultMap="DoctorReportEfficiencyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update" parameterType="DoctorReportEfficiency">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="sumAt != null">`sum_at` = #{sumAt},</if>
            <if test="sumAtName != null">`sum_at_name` = #{sumAtName},</if>
            <if test="dateType != null">`date_type` = #{dateType},</if>
            <if test="orzId != null">`orz_id` = #{orzId},</if>
            <if test="orzName != null">`orz_name` = #{orzName},</if>
            <if test="orzType != null">`orz_type` = #{orzType},</if>
            <if test="npd != null">`npd` = #{npd},</if>
            <if test="birthPerYear != null">`birth_per_year` = #{birthPerYear},</if>
            <if test="psy != null">`psy` = #{psy},</if>
            <if test="pregnancy != null">`pregnancy` = #{pregnancy},</if>
            <if test="lactation != null">`lactation` = #{lactation},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>
    
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <select id="paging" parameterType="map" resultMap="DoctorReportEfficiencyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="list" parameterType="map" resultMap="DoctorReportEfficiencyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC
    </select>

    <select id="findByDimension" parameterType="map" resultMap="DoctorReportEfficiencyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <where>
            orz_id = #{orzId}
            AND orz_type = #{orzType}
            AND date_type = #{dateType}
            <if test="dateType == 1">AND date_format(sum_at, '%y-%m-%d') = date_format(#{sumAt}, '%y-%m-%d')</if>
            <if test="dateType == 2">AND date_format(sum_at, '%x-%v') = date_format(#{sumAt}, '%x-%v')</if>
            <if test="dateType == 3">AND date_format(sum_at, '%y-%m') = date_format(#{sumAt}, '%y-%m')</if>
            <if test="dateType == 4">AND concat(date_format(sum_at, '%y-'), QUARTER(sum_at)) =
                concat(date_format(#{sumAt}, '%y-'), QUARTER(#{sumAt}))
            </if>
            <if test="dateType == 5">AND date_format(sum_at, '%y') = date_format(#{sumAt}, '%y')</if>
        </where>
    </select>


    <delete id="deleteAll">
        delete from <include refid="tb"/>
    </delete>

    <delete id="deleteBy" parameterType="io.terminus.doctor.event.dto.DoctorDimensionCriteria">
        delete from
        <include refid="tb"/>
        <where>
            <if test="orzId !=null">
                and orz_id=#{orzId}
            </if>
            <if test="orzType!=null">
                and orz_type=#{orzType}
            </if>
            <if test="dateType!=null">
                and date_type=#{dateType}
            </if>
            <if test="sumAt !=null">
                and sum_at=#{sumAt}
            </if>
        </where>
    </delete>

    <select id="findBy" parameterType="map" resultMap="DoctorReportEfficiencyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <where>
            orz_id = #{orzId}
            AND orz_type = #{orzType}
            AND date_type = #{dateType}
            AND sum_at &gt;= date_format(#{startAt}, '%y-%m-%d')
            AND sum_at &lt;= date_format(#{endAt}, '%y-%m-%d')
        </where>
        ORDER BY sum_at
    </select>

</mapper>
