datasource:
  url: jdbc:mysql://127.0.0.1:3306/b2b2c?useUnicode=true&characterEncoding=UTF8
  username: root
  password: anywhere

# dubbo
dubbo:
  registry: zookeeper://127.0.0.1:2181

logging:
  file: ${user.home}/logs/doctor/config.log
  level.*: DEBUG

# zookeeper
zookeeper:
  host: 127.0.0.1
  port: 2181

